@page "/cities/create/{StateId:int}"
@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService sweetAlertService
<h3>Create City</h3>

<CityForm @ref="_cityForm" City="_city" OnValidSubmit="Create" ReturnAction="Return" />


@code {
    private City _city = new();
    private CityForm? _cityForm;

    [Parameter]
    public int StateId { get; set; }

    private async Task Create()
    {
        _city.StateId = StateId;
        var httpResponse = await repository.Post("/api/cities", _city);
        if (httpResponse.Error)
        {
            var message = await httpResponse.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }

        Return();
    }

    private void Return()
    {
        _cityForm!.FormPostedSuccessfully = true;
        navigationManager.NavigateTo($"/states/details/{StateId}");
    }
}
