@page "/categories"
@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService sweetAlertService
@attribute [Authorize(Roles = "Admin")]

@if(Categories is null)
{
    <div class="spinner" />
}
else
{
    <div class="card">
        <div class="card-header">
            <span>
                <i class="oi oi-tag"></i> Categories
                <a class="btn btn-sm btn-primary float-end" href="/categories/create"><i class="oi oi-plus"></i> Add Category</a>
            </span>
        </div>
        <div class="card-body">
            <div class="mb-2" style="display: flex; flex-wrap:wrap; align-items: center;">
                <div>
                    <input style="width: 400px;" type="text" class="form-control" id="titulo" placeholder="Search Category..." @bind-value="Filter" />
                </div>
                <div class="mx-1">
                    <button type="button" class="btn btn-outline-primary" @onclick="ApplyFilterAsync"><i class="oi oi-layers" /> Apply Filter</button>
                    <button type="button" class="btn btn-outline-danger" @onclick="CleanFilterAsync"><i class="oi oi-ban" /> Clear</button>
                </div>
            </div>

            <Pagination CurrentPage="_currentPage" TotalPages="_totalPages" SelectedPage="SelectedPageAsync" />

            <GenericList MyList="Categories">
                <Body>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Category</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var category in Categories!)
                            {
                                <tr>
                                    <td>
                                        <a class="btn btn-sm btn-warning" href="/categories/edit/@category.Id"><i class="oi oi-pencil" /> Edit</a>
                                        <button class="btn btn-sm btn-danger" @onclick=@(() => DeleteAsync(category.Id))><i class="oi oi-trash" /> Delete</button>
                                    </td>
                                    <td>
                                        @category.Name
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </Body>
            </GenericList>

        </div>
    </div>
}

@code {
    public List<Category>? Categories { get; set; }
    private int _currentPage = 1;
    private int _totalPages;

    [Parameter]
    [SupplyParameterFromQuery]
    public string Page { get; set; } = string.Empty;

    [Parameter]
    [SupplyParameterFromQuery]
    public string Filter { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        await LoadAsync();
    }

    private async Task LoadAsync(int page = 1)
    {
        if (!string.IsNullOrWhiteSpace(Page))
        {
            page = Convert.ToInt32(Page);
        }

        string urlcategories = string.Empty;
        string urlTotalPages = string.Empty;

        if (string.IsNullOrEmpty(Filter))
        {
            urlcategories = $"api/categories?page={page}";
            urlTotalPages = $"api/categories/totalPages";
        }
        else
        {
            urlcategories = $"api/categories?page={page}&filter={Filter}";
            urlTotalPages = $"api/categories/totalPages?filter={Filter}";
        }


        var responseCategories = await repository.Get<List<Category>>(urlcategories);
        var responseTotalPages = await repository.Get<int>(urlTotalPages);

        Categories = responseCategories.Response;
        _totalPages = responseTotalPages.Response;

    }

    private async Task SelectedPageAsync(int page)
    {
        _currentPage = page;
        await LoadAsync(page);
    }


    private async Task DeleteAsync(int id)
    {
        var result = await sweetAlertService.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmation",
                Text = "Are you sure you want to delete this data?",
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = true,
                CancelButtonText = "No",
                ConfirmButtonText = "Yes"
            });

        var confirm = string.IsNullOrEmpty(result.Value);
        if (confirm)
        {
            return;
        }

        var responseHttp = await repository.Delete($"/api/categories/{id}");

        if (responseHttp.Error)
        {
            if (responseHttp.HttpResponseMessage.StatusCode != HttpStatusCode.NotFound)
            {
                var message = await responseHttp.GetErrorMessageAsync();
                await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
                return;
            }
        }

        await LoadAsync();
    }

    private async Task CleanFilterAsync()
    {
        Filter = string.Empty;
        await ApplyFilterAsync();
    }

    private async Task ApplyFilterAsync()
    {
        int page = 1;
        await LoadAsync(page);
        await SelectedPageAsync(page);
    }
}
