@page "/states/details/{Id:int}"
@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService sweetAlertService
@attribute [Authorize(Roles = "Admin")]
@if (_state is null)
{
    <p>Cargando...</p>
}
else
{
    <h3>@_state.Name</h3>
    <div class="mb-2" style="display: flex; flex-wrap:wrap; align-items: center;">
        <div>
            <a class="btn btn-primary" href="/cities/create/@Id">New City</a>
            <a class="btn btn-success" href="/countries/details/@_state.CountryId">Return</a>
        </div>
        <div class="mx-2">
            <input style="width: 400px;" type="text" class="form-control" id="titulo" placeholder="Buscar ciudad..." @bind-value="Filter" />
        </div>
        <div>
            <button type="button" class="btn btn-outline-primary" @onclick="ApplyFilterAsync">Apply Filter</button>
            <button type="button" class="btn btn-outline-danger" @onclick="CleanFilterAsync">Clear</button>
        </div>
    </div>

    <Pagination CurrentPage="_currentPage" TotalPages="_totalPages" SelectedPage="SelectedPageAsync" />
    <GenericList MyList="_cities">
        <Body>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>City</th>
                        <th style="width:180px;"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var city in _cities!)
                    {
                        <tr>
                            <td>
                                @city.Name
                            </td>
                            <td>
                                <a class="btn btn-warning" href="/cities/edit/@city.Id">Edit</a>
                                <button class="btn btn-danger" @onclick=@(() => DeleteAsync(city.Id))>Delete</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </Body>

    </GenericList>

}

@code {
    private State? _state;
    private List<City>? _cities;
    private int _currentPage = 1;
    private int _totalPages;

    [Parameter]
    public int Id { get; set; }

    [Parameter]
    [SupplyParameterFromQuery]
    public string Page { get; set; } = string.Empty;

    [Parameter]
    [SupplyParameterFromQuery]
    public string Filter { get; set; } = string.Empty;


    protected override async Task OnInitializedAsync()
    {
        await LoadAsync();
    }
    private async Task DeleteAsync(int id)
    {
        var result = await sweetAlertService.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmation",
                Text = "Are you sure you want to delete this data?",
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = true,
                CancelButtonText = "No",
                ConfirmButtonText = "Yes"
            });

        var confirm = string.IsNullOrEmpty(result.Value);
        if (confirm)
        {
            return;
        }

        var responseHttp = await repository.Delete($"/api/cities/{id}");

        if (responseHttp.Error)
        {
            if (responseHttp.HttpResponseMessage.StatusCode != HttpStatusCode.NotFound)
            {
                var message = await responseHttp.GetErrorMessageAsync();
                await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
                return;
            }
        }

        await LoadAsync();
    }
    private async Task SelectedPageAsync(int page)
    {
        _currentPage = page;
        await LoadAsync(page);
    }

    private async Task LoadAsync(int page = 1)
    {
        if (!string.IsNullOrWhiteSpace(Page))
        {
            page = Convert.ToInt32(Page);
        }

        string urlCity = string.Empty;
        string urlTotalPages = string.Empty;

        if (string.IsNullOrEmpty(Filter))
        {
            urlCity = $"api/cities?id={Id}&page={page}";
            urlTotalPages = $"api/cities/totalPages?id={Id}";
        }
        else
        {
            urlCity = $"api/cities?id={Id}&page={page}&filter={Filter}";
            urlTotalPages = $"api/cities/totalPages?id={Id}&filter={Filter}";
        }


        var responseHppt = await repository.Get<State>($"api/states/{Id}");
        var responseHppt2 = await repository.Get<List<City>>(urlCity);
        var responseHppt3 = await repository.Get<int>(urlTotalPages);


        if (responseHppt2.Error)
        {
            if (responseHppt2.HttpResponseMessage.StatusCode == HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("/countries");
                return;
            }

            var message = await responseHppt2.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }

        _state = responseHppt.Response;
        _cities = responseHppt2.Response;
        _totalPages = responseHppt3.Response;

    }
    private async Task CleanFilterAsync()
    {
        Filter = string.Empty;
        await ApplyFilterAsync();
    }

    private async Task ApplyFilterAsync()
    {
        int page = 1;
        await LoadAsync(page);
        await SelectedPageAsync(page);
    }

}
